body {

    background-color: rgb(20, 8, 11);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(25, 43, 43);
    text-align: center;

}
.container{
    
    background-color: #746b6b;
    border-radius: 50px;
    border: 2px solid #ccbbcc;
    box-shadow: 10px 10px 10px #0c0658;
}

.container h1{
    border-radius: 50px;
    font-family: sans-serif;
    background-color: rgb(106, 106, 233);
    text-align: center;
    padding: 2px 0px;
    color:#fff;

}
.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container #quest{
    font-family: sans-serif;
    font-size: 30px;
    color:#ffff ;
}

.but{
    margin-top: 30px;
}


p {
    text-align: right;
    font-size: 20px;
   
  }
  #fail{
    text-align: left;
    font-size: 30px;
    margin-top: 0px;
    margin-right: 60px;
    color: red;

  }


#bt0,#bt1 , #bt2, #bt3{

    background-color: rgb(18, 18, 158);
    width: 250px;
    font-size: 20px;
    color: #ffff;
    border: 1px solid#1d3c6a;
    border-radius: 50px;
    margin: 10px ;
    padding: 15px 10px;
}

#progress{
    color: yellow
}

#bt0:hover,#bt1:hover , #bt2:hover, #bt3:hover{
    cursor: pointer;
    background-color: black;
}


    
    
